.full button span {
  background-color: limegreen;
  border-radius: 32px;
  color: black;
}
.partially button span {
  background-color: orange;
  border-radius: 32px;
  color: black;
}

.nav-tabs > li
  width 50%

.separation{
  margin-bottom 20px;
}

.separation_top{
  margin-top 10px;
}

.separation_down{
  margin-bottom  10px;
}

.button_height{
  height 40px;
}

.dropdown_menu_size{
  width 100%;
}

.texto{
  text-align center;
}

.color_menu{
  color #6078EA;
  font-weight: bold;
}
.menu{
  margin-top 6%;
}

.texto_boton{
  font-weight: bold;
}

.color_boton{
  //background-color: #3F72AF;
  background-color: #6078EA;
  color: white;
}
